*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit',sans-serif;
    text-align: center;
    min-width: 375px;
    max-width: 1440px;
}
img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
}